@media (max-width: 1400px) {
    .navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }
    .header-logo {
        padding-left: 60px;
    }
    .main-div2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-right: 60px;
        padding-left: 60px;
    }
    .devider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .work-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 60px;

    }
    .block-text {
        max-width: 700px;
        padding-left: 10px;
    }
    .background3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
}


@media (max-width: 1170px) {
    .main-div2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .right-block {
        padding-top: 10px;
    }
    .left-block {
        padding-top: 100px;
    }
    .left-block1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 60px;
    }
    .headernav {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
    .headernav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 400px;
        height: 400px;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(35,159,244,0.8468429608171394)), to(rgba(15,92,221,1)));
        background: -o-linear-gradient(bottom, rgba(35,159,244,0.8468429608171394) 11%, rgba(15,92,221,1) 100%);
        background: linear-gradient(0deg, rgba(35,159,244,0.8468429608171394) 11%, rgba(15,92,221,1) 100%);
        border-radius: 50% 10% 10% 50%;
    }
    .headernav ul li {
        margin-top: 70px;
        text-align: center;

        
    }
    .headernav.active {
        display: block;
    }
    .a-text {
        font-size: 18px;
        font-family: "Comfortaa";
        text-align: center;
    }
    .main-div {
        padding-top: 200px;
    }
    .navigation {
        position: absolute;
        position: fixed;
    }
}

@media (max-width: 1106px) {
    .left-block {
        padding-top: 152px;
        width: 50%;
    }
    .right-block {
        width: 50%;
    }
    .button {
        margin-bottom: 30px;
    }
    .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .logo-block {
        width: 90%;
    }
    .comments {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .left-comment {
        margin-bottom: 40px;
    }

}

@media (max-width: 972px) {
    .main-div   {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .left-block {
        width: 50%;
    }
    .right-block {
        width: 50%;
    }
}

@media (max-width:945px) {
    .devider {
        margin-top: 100px;
    }
    .h2-text {
        font-size: 38px;
        padding-bottom: 20px;
    }
    .p-text1 {
        font-size: 22px;
    }

}

@media (max-width:835px) {
    .buttons {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .button2 {
        display: none;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
    input[type=text] {
        font-size: 18px;
        background-size: 52px;
        max-width: 210px;
        height: 60px;
    }
    .input-mail[type=text] {
        font-size: 18px;
        background-size: 52px;
        max-width: 210px;
        height: 60px;
    }
    .p-text1 {
        padding-bottom: 20px;
    }
    .join {
        font-size: 18px;
    }
    .h2-text {
        font-size: 32px;
    }
    .pet-owners {
        padding-left: 40px;
    }
    h3 {
        font-size: 22px;
    }
    .text {
        font-size: 18px;
    }
    .p-text3 {
        font-size: 28px;
    }
    .foot-h3 {
        font-size: 20px;
    }
    .foot-text {
        font-size: 18px;
    }
    .button-join {
        height: 55px;
        font-size: 16px;
    }
}

@media (max-width:772px) {
    h1 {
        font-size: 48px;
    }
    .left-block{
        padding-top: 60px;
    }
    .icon1 {
        max-width: 100px;
    }
    .h2-text {
        font-size: 22px;
    }
    .p-text1 {
        font-size: 18px;
    }
    h2 {
        line-height: normal;
    }

    .dogy-text {
        font-size: 16px;
    }
    .pet-owners {
        padding-left: 1px;
    }
    .p-text {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .div-text {
        font-size: 20px;
    }
}

@media (max-width:650px) {
    .work-left {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .div-block2 {
        position: static;
    }
    .line {
        display: none;
    }
    .span {
        display: block;
        text-indent: 0px;
    }
    .pet-owners {
        padding-left: 1px;
        max-width: 450px;
        padding-top: 320px;
    }
    span {
        display: none;
    }
    .p-text {
        max-width: 250px;
    }
    h2 {
        font-size: 26px;
    }
    .p-text3 {
        font-size: 26px;
    }
    .div-block {
        max-width: 200px;
        height: 200px;
    }
    .div-block1 {
        max-width: 200px;
        height: 200px;
    }
    .div-block2 {
        max-width: 200px;
        height: 200px;
    }
    .div-block3 {
        max-width: 200px;
        height: 200px;
    }
    .work-left {
        height: 700px;
    }
    .div-comments {
        padding-top: 1.5px;
    }
    .main-div2 {
        padding-top: 250px;
    }
    
    
}

@media (max-width:618px) {
    .div-block {
        margin-bottom: 20px;
    }
    .commentaries {
        margin-top: 300px;
    }
    .pet-owners {
        padding-left: 1px;
        max-width: 450px;
        padding-top: 10px;
    }
}

@media (max-width: 568px) {
    .p-main {
        display: none;
    }
    .logo-block {
        max-width: 250px;
    }
    .icon1 {
        margin-right: 10px;
    }
    .div-comments {
        padding-top: 1.5px
    }
    .left-block {
        padding-top: 150px;
    }
    .headernav ul{
        width: 300px;
    }
}

@media (max-width: 520px) {
    .pet-owners {
        padding-top: 120px;
    }
}

@media (max-width: 450px) {
    .input {
        width: 100px;
    }
    .input-mail[type=text] {
        display: none;
    }
    .foot-text5 {
        display: none;
    }
    .foot-h3 {
        display: none;
    }
    .soc-medias {
        padding-top: 1px;
    }
    .foot-text2 {
        display: none;
    }
    .foot-block {
        padding-left: 20px;
        margin-top: 30px;
    }
    .footer-back {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    h1 {
        font-size: 28px;
    }
    .button {
        font-size: 16px;
    }
    .main-div2 {
        padding-top: 250px;
    }
    .headernav ul {
        text-align: right;
        width: 220px;
    }
    .header-logo {
        padding-left: 10px;
    }
    .toggle-btn {
        right: 30px;
    }
}