@media (max-width: 1400px) {
    .navigation {
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
    }
    .main-div2 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 60px;
        padding-left: 60px;
    }
    .devider {
        display: flex;
        flex-direction: column-reverse;
    }
    .work-right {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;

    }
    .block-text {
        max-width: 700px;
        padding-left: 10px;
    }
    .background3 {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1106px) {
    .main-div2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .left-block1 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    .header-ul {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
}

@media (max-width: 1106px) {
    .left-block {
        padding-top: 152px;
        width: 50%;
    }
    .right-block {
        width: 50%;
    }
    .button {
        margin-bottom: 30px;
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .logo-block {
        width: 90%;
    }
    .comments {
        flex-direction: column;
        align-items: center;
    }
    .left-comment {
        margin-bottom: 40px;
    }

}

@media (max-width: 972px) {
    .main-div   {
        display: flex;
        justify-content: space-between;
    }
    .left-block {
        width: 50%;
    }
    .right-block {
        width: 50%;
    }
}

@media (max-width:945px) {
    .devider {
        margin-top: 100px;
    }
    .h2-text {
        font-size: 38px;
        padding-bottom: 20px;
    }
    .p-text1 {
        font-size: 22px;
    }

}

@media (max-width:835px) {
    .buttons {
        align-items: flex-start;
    }
    .button2 {
        display: none;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
    input[type=text] {
        font-size: 18px;
        background-size: 52px;
        max-width: 210px;
        height: 60px;
    }
    .input-mail[type=text] {
        font-size: 18px;
        background-size: 52px;
        max-width: 210px;
        height: 60px;
    }
    .p-text1 {
        padding-bottom: 20px;
    }
    .join {
        font-size: 18px;
    }
    .h2-text {
        font-size: 32px;
    }
    .pet-owners {
        padding-left: 40px;
    }
    h3 {
        font-size: 22px;
    }
    .text {
        font-size: 18px;
    }
    .p-text3 {
        font-size: 28px;
    }
    .foot-h3 {
        font-size: 20px;
    }
    .foot-text {
        font-size: 18px;
    }
    .button-join {
        height: 55px;
        font-size: 16px;
    }
}

@media (max-width:772px) {
    h1 {
        font-size: 48px;
    }
    .left-block{
        padding-top: 60px;
    }
    .icon1 {
        max-width: 100px;
    }
    .h2-text {
        font-size: 22px;
    }
    .p-text1 {
        font-size: 18px;
    }
    h2 {
        line-height: normal;
    }

    .dogy-text {
        font-size: 16px;
    }
    .pet-owners {
        padding-left: 1px;
    }
    .p-text {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    .div-text {
        font-size: 20px;
    }
}

@media (max-width:650px) {
    .work-left {
        /* position: static; */
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .div-block2 {
        position: static;
    }
    .line {
        display: none;
    }
    .span {
        display: block;
        text-indent: 0px;
    }
    .pet-owners {
        padding-left: 1px;
        max-width: 450px;
        padding-top: 320px;
    }
    span {
        display: none;
    }
    .p-text {
        max-width: 250px;
    }
    h2 {
        font-size: 26px;
    }
    .p-text3 {
        font-size: 26px;
    }
    .div-block {
        max-width: 200px;
        height: 200px;
    }
    .div-block1 {
        max-width: 200px;
        height: 200px;
    }
    .div-block2 {
        max-width: 200px;
        height: 200px;
    }
    .div-block3 {
        max-width: 200px;
        height: 200px;
    }
    .work-left {
        height: 700px;
    }
    .div-comments {
        padding-top: 1.5px;
    }
    .main-div2 {
        padding-top: 250px;
    }
    
    
}

@media (max-width:618px) {
    .div-block {
        margin-bottom: 20px;
    }
    .commentaries {
        margin-top: 300px;
    }
    .pet-owners {
        padding-left: 1px;
        max-width: 450px;
        padding-top: 10px;
    }
}

@media (max-width: 568px) {
    .p-main {
        display: none;
    }
    .logo-block {
        max-width: 250px;
    }
    .icon1 {
        margin-right: 10px;
    }
    .div-comments {
        padding-top: 1.5px
    }
    .left-block {
        padding-top: 150px;
    }
}

@media (max-width: 520px) {
    .pet-owners {
        padding-top: 120px;
    }
}

@media (max-width: 450px) {
    .input {
        width: 100px;
    }
    .input-mail[type=text] {
        display: none;
    }
    .foot-text5 {
        display: none;
    }
    .foot-h3 {
        display: none;
    }
    .soc-medias {
        padding-top: 1px;
    }
    .foot-text2 {
        display: none;
    }
    .foot-block {
        padding-left: 20px;
        margin-top: 30px;
    }
    .footer-back {
        flex-direction: column;
    }
    h1 {
        font-size: 28px;
    }
    .button {
        font-size: 16px;
    }
    .main-div2 {
        padding-top: 250px;
    }
}