.navigation {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 52px;
}
.header-logo {
    padding-top: 40px;
}
.header-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    font-weight: 200;
    padding-top: 60px;
}
li {
    margin-right: 40px;
}
.a-text {
    color: #fff;
    font-size: 24px;
}
.search {
    width: 34px;
}
.image {
    background-image: url(../images/background1.svg);
    max-width: 2668.8px;
    width: 100%;
    height: 1466.41px;
    position: absolute;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: translateX(-220px);
    transform: translateY(-370px);
}
.main-div {
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.left-block {
    display: flex;
    flex-direction: column;
    max-width: 626px;
    width: 100%;
    padding-left: 60px;
    height: 328px;
    padding-top: 252px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    align-items: center;

}
.button {
    max-width: 200px;
    width: 100%;
    padding: 20px;
    border-radius: 38px;
    background-color: #4487FF;
    text-align: center;
    color: white;
    font-size: 20px;
}
.button2 {
    font-size: 20px;
}
h1 {
    font-size: 78px;
    padding-bottom: 35px;
}
p {
    font-size: 24px;
    padding-bottom: 40px;
}
.right-block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 102px;
}
.dog1 {
    max-width: 594px;
    width: 100%;
}
.main-div2 {
    display: flex;
    justify-content: space-between;
    max-width: 1330px;
    margin: 0 auto;
    padding-top: 290px;
}
.left-block1 {
    max-width: 450px;
}
h2 {
    font-size: 48px;
    color: #FF6752;
    padding-bottom: 40px;
}
.input {
    border: 1px solid lightslategray;
    height: 80px;
    font-size: 24px;
    background: url(../images/button.svg) no-repeat right;
    padding-left:20px; 
}
.input-image {
    margin-top: 30px;
    height: 74px;
    width: 74px;
    vertical-align: middle;
}
.right-block1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    max-width: 536px;
    width: 100%;
    height: 531px;
 
}
.div-block {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    width: 100%;
    max-width: 249px;
    height: 249px;
    border: 1px solid lightgrey;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px lightgrey;
    background-color: #fff;
}
.div-text {
    padding-top: 40px;
    font-size: 24px;
    color: #707070;
}
.image2 {
    background-image: url(../images/background2.svg);
    max-width: 3121px;
    width: 100%;
    height: 1660.41px;
    position: absolute;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    transform: translateX(-400px);
    transform: translateY(-870px);
}